.top-container {
  background-color: #beeef7;
  padding-top:100px;
  position: relative;
 background: url('https://media.giphy.com/media/y3wBjXMffuFjy/giphy.gif');
 background-size:cover;

}


.middle-container {
position:relative;
background-color: #fafad2;
background-image:url('https://media.giphy.com/media/uV5Py5wWTj7nHB19Ga/giphy.gif');
background-size:cover;
}

.details {
  margin-top:30px;
  background-color: #9ea9f0;
  padding:40px;
  position: relative;


}

body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', sans-serif;
  color:#40514E;


  }
h1 {
 font-family: 'Sacramento', cursive;
 font-size: 90px;
 text-shadow: 2px 2px yellow;
 color: #311054;

}
.header {
  width:30%;
  margin: 0 auto;
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  text-shadow: 2px 2px palegreen;
  font-weight:normal;
}
h3 {
  color:#11999E;
}
h2 {
  color:#11999E;
  margin: auto auto;
}
a {
  color:black;
}

p {
  font-family: 'Montserrat', sans-serif;
  width:30%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 2;
}

.mri {
  text-decoration:underline;
}
.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position:absolute;
  right:500px;
  top:60px;
}
.flag {
  position:absolute;
  left:20px;
  top:5px;
  width:15px;
}

.ML {
  position:absolute;
  left:10%;
  top:30%;
  width:15%;

}
.web {
  position:absolute;
  right:10%;
  top:30%;
  width:15%;

}
.me {
  border-radius: 50%;
  width:500px;
}
.robot {
  width:25%;
  float:left;
}
.AI {
  width:25%;
  float:left;
}
.music {
  margin-top: 30px;
  width:25%;
  float:right;


}
.gif {
  float:right;
  width:25%;
}
.mail {
  display:inline;

}
.skill-row {
  width:50%;
  margin: 100px auto;
  text-align: left;
}
.pos2 {
width:135%;
font-weight: bold;
}
hr {

  border: dotted #EAF6F6 5px;
  border-bottom: none;
  margin: 100px auto;
  width:5%;


}
.linkedin {

  position: absolute;
  left:33%;
  top:5%;
  width:20%;
}
.github {
  position:absolute;
  left:40%;
  top:5%;
  width:19%;
  border-radius: 50%;
}
.fb {
  width:18%;
  position: absolute;
  left:47%;
  top:5%;
}

.copyright {
  color:#EAF6F6;
  padding-top: 40px;
  padding-right: 60px;
  font-family: 'Montserrat', sans-serif;


}
.description {
  width: 65%;
  margin-top:40px;
  font-weight: bold;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
::selection {
  background-color:black;
  color:yellow;
}
